/Prayaas2015/nbproject/private/
/Prayaas2015/build/
/CodeCracker2015/nbproject/private/
/CodeCracker2015/build/
/ hack-a-saurus-2/nbproject/private/
/ hack-a-saurus-2/build/
/BreakTheCode2015/nbproject/private/
/BreakTheCode2015/build/
/BreakTheCode2015/dist/
/MathrixOPC2015/Debug
/MathrixOPC2015/.nuget
/MathrixOPC2015/MathrixOPC2015/Debug
