/Prayaas2015/nbproject/private/
/Prayaas2015/build/
/CodeCracker2015/nbproject/private/
/CodeCracker2015/build/
/ hack-a-saurus-2/nbproject/private/
/ hack-a-saurus-2/build/
/BreakTheCode2015/nbproject/private/
/BreakTheCode2015/build/
/BreakTheCode2015/dist/
/MathrixOPC2015/Debug
/MathrixOPC2015/.nuget
/MathrixOPC2015/MathrixOPC2015/Debug
.ipynb_checkpoints
*.pyc
/competition/leetcode/leetcodecpp/Debug
/competition/leetcode/leetcodecpp/x64/Debug
/competition/leetcode/leetcodecpp/.vs/leetcodecpp/v17
/competition/leetcode/leetcodecpp/.vs/leetcodecpp
/competition/leetcode/.vs
